In [1]:
order = {}

In [2]:
def is_in_cart(item_name, cart):
    '''
    cek apakah barang sudah ada dalam lis pembelian
    
    Parameters:
        item_name (str)  : nama barang
        cart (dict) : lis pembelian
    Returns:
        True/False (Bool): ada/tidak ada di lis
    '''    
    
    for key, val in cart.items():
        if item_name.lower() == key.lower():
            return True, key
            break
    return False, -1 # -1 is just a dummy

In [3]:
def add_item(*item_list):
    '''
    menambah barang pembelanjaan
    
    Parameters:
        item_list (list) : lis dari lis item yang berisikan: 
                            nama, jumlah item, harga per item
    Returns:
        -
    '''
    for item in item_list:
        if len(item) != 3:
            print('Masukkan secara terurut dalam format list: [nama barang, jumlah, harga per item]')
            break
        else:
            # extract name, quantity, and price per qty in the list
            name          = item[0]
            qty           = item[1]
            price_per_qty = item[2]
            
            available, item_name = is_in_cart(name, order)

            if available:
                print('Barang dengan nama', item_name, 'sudah ada dalam keranjang!\nSilahkan update jumlah atau harganya.')
            else:
                order[name] = [qty, price_per_qty]
                print(qty, name, 'berhasil ditambahkan ke keranjang.')

In [4]:
add_item(['buku', 10, 20000], ['pensil', 30, 10000])

10 buku berhasil ditambahkan ke keranjang.
30 pensil berhasil ditambahkan ke keranjang.

In [5]:
add_item(['buku', 10], ['pensil', 30, 10000])

Masukkan secara terurut dalam format list: [nama barang, jumlah, harga per item]

In [6]:
print(order)

{'buku': [10, 20000], 'pensil': [30, 10000]}

In [7]:
add_item(['penghapus', 5, 5000])

5 penghapus berhasil ditambahkan ke keranjang.

In [8]:
add_item(['BuKu', 5, 5000])

Barang dengan nama buku sudah ada dalam keranjang!
Silahkan update jumlah atau harganya.

In [9]:
print(order)

{'buku': [10, 20000], 'pensil': [30, 10000], 'penghapus': [5, 5000]}

In [10]:
from tabulate import tabulate

def show_table(cart, 
               headers=["No","Nama Item", "Jumlah Item", 
                        "Harga/item", "Total Harga",
                        "Besar Potongan", "Harga Setelah Diskon"],
               table_format = "outline"):
    '''
    menampilkan tabel lis pembelian
    
    Parameters:
        cart (dict)         : lis pembelian
        header (list)       : lis nama kolom
        table_format (str)  : tabulate table format
                              https://pypi.org/project/tabulate/
    Returns:
        -
    '''
    # ubah data dictionary ke bentuk list
    order_list = []
    for key, val in cart.items():
        temp = [key]
        for item in val:
            temp.append(item)
        order_list.append(temp)
    
    # untuk menambahkan nomor pada kolom nomor
    number_id = range(1, len(order_list)+1)
    print(tabulate(order_list, headers=headers, tablefmt=table_format, showindex=number_id))

In [11]:
show_table(order)

+------+-------------+---------------+--------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |
+======+=============+===============+==============+
|    1 | buku        |            10 |        20000 |
|    2 | pensil      |            30 |        10000 |
|    3 | penghapus   |             5 |         5000 |
+------+-------------+---------------+--------------+

In [12]:
def check_order():
    '''
    lihat semua pembelian
    
    Parameters:
        -
    Returns:
        -
    '''
    # check kesalahan input data
    valid_entry = True
    for key, val in order.items():
        if not isinstance(key, str) or \
           not isinstance(val[0], int) or \
           not isinstance(val[1], int):
           valid_entry = False
           break

    show_table(order)

    if valid_entry:    
        print('Pemesanan sudah benar')
    else:
        print("Terdapat kesalahan dalam input data")

In [13]:
check_order()

+------+-------------+---------------+--------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |
+======+=============+===============+==============+
|    1 | buku        |            10 |        20000 |
|    2 | pensil      |            30 |        10000 |
|    3 | penghapus   |             5 |         5000 |
+------+-------------+---------------+--------------+
Pemesanan sudah benar

In [14]:
add_item(['kertas', 5, 'lembar'])

5 kertas berhasil ditambahkan ke keranjang.

In [15]:
check_order()

+------+-------------+---------------+--------------+
|   No | Nama Item   |   Jumlah Item | Harga/item   |
+======+=============+===============+==============+
|    1 | buku        |            10 | 20000        |
|    2 | pensil      |            30 | 10000        |
|    3 | penghapus   |             5 | 5000         |
|    4 | kertas      |             5 | lembar       |
+------+-------------+---------------+--------------+
Terdapat kesalahan dalam input data

In [16]:
def delete_item(item_name):
    '''
    hapus suatu barang tertentu dari lis pembelian
    
    Parameters:
        item_name (str) : nama barang
    Returns:
        -
    '''      
    available, item_name_in_cart = is_in_cart(item_name, order)
    if available:
        del order[item_name_in_cart]
        print(item_name_in_cart, 'berhasil dihapus dari keranjang.')
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [17]:
delete_item('kErtas')

kertas berhasil dihapus dari keranjang.

In [18]:
check_order()

+------+-------------+---------------+--------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |
+======+=============+===============+==============+
|    1 | buku        |            10 |        20000 |
|    2 | pensil      |            30 |        10000 |
|    3 | penghapus   |             5 |         5000 |
+------+-------------+---------------+--------------+
Pemesanan sudah benar

In [19]:
def update_item_name(item_name, new_name):
    '''
    update nama barang
    
    Parameters:
        item_name (str) : nama lama dari barang
        new_name (str)  : nama baru dari barang
    Returns:
        -
    '''          
    available, item_name_in_cart = is_in_cart(item_name, order)
    if available:
        order[new_name] = order[item_name_in_cart]
        del order[item_name_in_cart]
        print('Nama barang berhasil diperbaharui.')
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [20]:
add_item(['Buku Gambar', 8, 100000])

8 Buku Gambar berhasil ditambahkan ke keranjang.

In [21]:
update_item_name('buku gambar', 'Drawing book')

Nama barang berhasil diperbaharui.

In [22]:
check_order()

+------+--------------+---------------+--------------+
|   No | Nama Item    |   Jumlah Item |   Harga/item |
+======+==============+===============+==============+
|    1 | buku         |            10 |        20000 |
|    2 | pensil       |            30 |        10000 |
|    3 | penghapus    |             5 |         5000 |
|    4 | Drawing book |             8 |       100000 |
+------+--------------+---------------+--------------+
Pemesanan sudah benar

In [23]:
def update_item_qty(item_name, new_qty):
    '''
    update jumlah barang
    
    Parameters:
        item_name (str) : nama barang
        new_qty (int)   : jumlah barang  
    Returns:
        -
    '''          
    available, item_name_in_cart = is_in_cart(item_name, order)
    if available:
        # update jumlah barang
        order[item_name_in_cart][0] = new_qty
        print('Jumlah', item_name_in_cart, 
              'berhasil diperbaharui menjadi', new_qty)
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [24]:
update_item_qty('Drawing bOok', 50)

Jumlah Drawing book berhasil diperbaharui menjadi 50

In [25]:
check_order()

+------+--------------+---------------+--------------+
|   No | Nama Item    |   Jumlah Item |   Harga/item |
+======+==============+===============+==============+
|    1 | buku         |            10 |        20000 |
|    2 | pensil       |            30 |        10000 |
|    3 | penghapus    |             5 |         5000 |
|    4 | Drawing book |            50 |       100000 |
+------+--------------+---------------+--------------+
Pemesanan sudah benar

In [26]:
def update_item_price(item_name, new_price):
    '''
    update harga barang
    
    Parameters:
        item_name (str) : nama barang
        new_price (int) : harga barang  
    Returns:
        -
    '''      
    available, item_name_in_cart = is_in_cart(item_name, order)
    if available:
        # update harga barang
        order[item_name_in_cart][1] = new_price
        # update total harga
        # order[item_name_in_cart].append(order[item_name_in_cart][0] 
        #                                 * order[item_name_in_cart][1])      
        print('Harga', item_name_in_cart, 'berhasil diperbaharui menjadi', new_price, 'per item')
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [27]:
update_item_price('Drawing book', 120000)

Harga Drawing book berhasil diperbaharui menjadi 120000 per item

In [28]:
check_order()

+------+--------------+---------------+--------------+
|   No | Nama Item    |   Jumlah Item |   Harga/item |
+======+==============+===============+==============+
|    1 | buku         |            10 |        20000 |
|    2 | pensil       |            30 |        10000 |
|    3 | penghapus    |             5 |         5000 |
|    4 | Drawing book |            50 |       120000 |
+------+--------------+---------------+--------------+
Pemesanan sudah benar

In [29]:
def reset_transaction():
    '''
    hapus semua transaksi
    
    Parameters:
        -
    Returns:
        order (dict): dictionary kosong
    '''      
    order = {}
    print('Semua item berhasil dihapus !')
    return order

In [30]:
order = reset_transaction()

Semua item berhasil dihapus !

In [31]:
check_order()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
| No   | Nama Item   | Jumlah Item   | Harga/item   | Total Harga   | Besar Potongan   | Harga Setelah Diskon   |
+======+=============+===============+==============+===============+==================+========================+
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Pemesanan sudah benar

In [32]:
add_item(['buku', 10, 20000], 
         ['pensil', 30, 10000],
         ['penghapus', 20, 1000])

10 buku berhasil ditambahkan ke keranjang.
30 pensil berhasil ditambahkan ke keranjang.
20 penghapus berhasil ditambahkan ke keranjang.

In [33]:
check_order()

+------+-------------+---------------+--------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |
+======+=============+===============+==============+
|    1 | buku        |            10 |        20000 |
|    2 | pensil      |            30 |        10000 |
|    3 | penghapus   |            20 |         1000 |
+------+-------------+---------------+--------------+
Pemesanan sudah benar

In [34]:
def promo(harga):
    '''
    hitung besarnya potongan dari diskon
    serta harga total setelah diskon
    
    Parameters:
        harga (int) : harga awal sebelum diskon
    Returns:
        besar_potongan (int): besarnya potongan karena diskon
        harga_setelah_diskon (int): harga setelah diskon
    '''     
    diskon = 0
    if harga > 500000:
        diskon = 0.07
    elif harga > 300000:    
        diskon = 0.06
    elif harga > 200000:
        diskon = 0.05
        
    besar_potongan = int(harga * diskon)
    harga_setelah_diskon = int(harga - besar_potongan)
    
    return besar_potongan, harga_setelah_diskon

In [35]:
import copy

def check_out():
    '''
    Hitung dan cetak total belanja setelah diskon
    
    Parameters:
        -
    Returns:
        temp_order_list (dict): list belanja yang dilengkapi
                                besar potongan dan
                                harga setelah diskon
    '''     
    temp_order_list = copy.deepcopy(order)
    total_harga_sebelum_diskon = 0
    total_harga_setelah_diskon = 0
    total_potongan = 0

    for key, val in temp_order_list.items():
        # tambahkan kolom total harga
        total_harga = temp_order_list[key][0] * temp_order_list[key][1]
        temp_order_list[key].append(total_harga)
                
        # tambahkan kolom potongan dan harga setelah diskon
        besar_potongan, harga_setelah_diskon = promo(total_harga)
        temp_order_list[key].append(besar_potongan)
        temp_order_list[key].append(harga_setelah_diskon)        
        
        # hitung total
        total_harga_sebelum_diskon += total_harga 
        total_potongan += besar_potongan
        total_harga_setelah_diskon += harga_setelah_diskon
          
    # Cetak tabel berisikan info potongan dan harga setelah diskon
    show_table(temp_order_list)
    
    # Cetak notifikasi
    print('Total belanja Anda sebelum potongan:', total_harga_sebelum_diskon, 'rupiah')
    print('Anda telah berhemat', total_potongan, 'rupiah')
    print('Total belanja Anda menjadi', total_harga_setelah_diskon, 'rupiah')
    
    return temp_order_list

In [36]:
final_order = check_out()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |   Besar Potongan |   Harga Setelah Diskon |
+======+=============+===============+==============+===============+==================+========================+
|    1 | buku        |            10 |        20000 |        200000 |                0 |                 200000 |
|    2 | pensil      |            30 |        10000 |        300000 |            15000 |                 285000 |
|    3 | penghapus   |            20 |         1000 |         20000 |                0 |                  20000 |
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Total belanja Anda sebelum potongan: 520000 rupiah
Anda telah berhemat 15000 rupiah
Total belanja Anda menjadi 505000 rupiah

In [37]:
check_order()

+------+-------------+---------------+--------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |
+======+=============+===============+==============+
|    1 | buku        |            10 |        20000 |
|    2 | pensil      |            30 |        10000 |
|    3 | penghapus   |            20 |         1000 |
+------+-------------+---------------+--------------+
Pemesanan sudah benar

In [38]:
add_item(['tas', 10, 100000])

10 tas berhasil ditambahkan ke keranjang.

In [39]:
final_order = check_out()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |   Besar Potongan |   Harga Setelah Diskon |
+======+=============+===============+==============+===============+==================+========================+
|    1 | buku        |            10 |        20000 |        200000 |                0 |                 200000 |
|    2 | pensil      |            30 |        10000 |        300000 |            15000 |                 285000 |
|    3 | penghapus   |            20 |         1000 |         20000 |                0 |                  20000 |
|    4 | tas         |            10 |       100000 |       1000000 |            70000 |                 930000 |
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Total belanja Anda sebelum potongan: 1520000 rupiah
Anda telah berhemat 85000 rupiah
Total belanja Anda menjadi 1435000 rupiah

In [40]:
# import library sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine, text

In [41]:
# Konfigurasi database
# buat variabel konfigurasi sebagai konstan
# buat sqlite sebagai engine
ENGINE = create_engine('sqlite:///data.db')

In [42]:
# Koneksi database
# buat variabel koneksi sebagai konstan
CONN = ENGINE.connect()

In [43]:
# buat fungsi untuk membuat table pada database
def create_table():
    """
    Fungsi untuk membuat table baru

    args:
        None

    return:
        None
    """
    # Query untuk membuat table dengan nama transactions
    query_buat_table = """
    CREATE TABLE transactions(
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        nama_item STRING,
        jumlah_item INTEGER,
        harga INTEGER,
        total_harga INTEGER,
        diskon INTEGER,
        harga_diskon INTEGER)
    """

    # Eksekusi query
    CONN.execute(text(query_buat_table))

In [44]:
check = sqlalchemy.inspect(ENGINE)
is_tbl_exist = check.has_table("transactions") 

if not is_tbl_exist:
    # memanggil fungsi create table
    create_table(CONN)

In [45]:
# Memeriksa table yang sudah dibuat
check = sqlalchemy.inspect(ENGINE)

print(check.has_table("transactions"))

True

In [46]:
order

{'buku': [10, 20000],
 'pensil': [30, 10000],
 'penghapus': [20, 1000],
 'tas': [10, 100000]}

In [47]:
final_order

{'buku': [10, 20000, 200000, 0, 200000],
 'pensil': [30, 10000, 300000, 15000, 285000],
 'penghapus': [20, 1000, 20000, 0, 20000],
 'tas': [10, 100000, 1000000, 70000, 930000]}

In [48]:
data_list = [{'nama_item': key, 
              'jumlah_item': value[0], 
              'harga': value[1], 
              'total_harga': value[2],
              'diskon': value[3],
              'harga_diskon': value[4]} for key, value in final_order.items()]

In [49]:
data_list

[{'nama_item': 'buku',
  'jumlah_item': 10,
  'harga': 20000,
  'total_harga': 200000,
  'diskon': 0,
  'harga_diskon': 200000},
 {'nama_item': 'pensil',
  'jumlah_item': 30,
  'harga': 10000,
  'total_harga': 300000,
  'diskon': 15000,
  'harga_diskon': 285000},
 {'nama_item': 'penghapus',
  'jumlah_item': 20,
  'harga': 1000,
  'total_harga': 20000,
  'diskon': 0,
  'harga_diskon': 20000},
 {'nama_item': 'tas',
  'jumlah_item': 10,
  'harga': 100000,
  'total_harga': 1000000,
  'diskon': 70000,
  'harga_diskon': 930000}]

In [50]:
# fungsi untuk memasukkan data ke database
def insert_to_table(data_list):
    """
    Fungsi untuk memasukkan data ke table database

    args:
        data_list (list) : nama list dari data order
    return:
        None
    """
  
    # Definisi SQL query untuk memasukkan data ke dalam table
    insert_query = text("""
    INSERT INTO 
        transactions(nama_item,
                  jumlah_item,
                  harga,
                  total_harga,
                  diskon,
                  harga_diskon)
        VALUES(:nama_item,
               :jumlah_item,
               :harga,
               :total_harga,
               :diskon,
               :harga_diskon)
    """)

    # Iterasi untuk memasukkan data per baris dari data list
    for item in data_list:

        # Eksekusi insert query untuk setiap baris data
        CONN.execute(insert_query, item)

In [51]:
insert_to_table(data_list)

In [52]:
# Eksekusi query untuk menampilkan data yang telah di INSERT
result = CONN.execute(text("SELECT * FROM transactions"))

# Melakukan iterasi untuk menampilkan hasil query
for res in result:
    print(res.ID,
          res.nama_item,
          res.jumlah_item, 
          res.harga, 
          res.diskon, 
          res.harga_diskon)

1 buku 10 20000 0 200000
2 pensil 30 10000 15000 285000
3 penghapus 20 1000 0 20000
4 tas 10 100000 70000 930000

In [53]:
final_order = check_out()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |   Besar Potongan |   Harga Setelah Diskon |
+======+=============+===============+==============+===============+==================+========================+
|    1 | buku        |            10 |        20000 |        200000 |                0 |                 200000 |
|    2 | pensil      |            30 |        10000 |        300000 |            15000 |                 285000 |
|    3 | penghapus   |            20 |         1000 |         20000 |                0 |                  20000 |
|    4 | tas         |            10 |       100000 |       1000000 |            70000 |                 930000 |
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Total belanja Anda sebelum potongan: 1520000 rupiah
Anda telah berhemat 85000 rupiah
Total belanja Anda menjadi 1435000 rupiah