In [1]:
# class Transaction:    
#     def __init__(self) -> None:
#         self.order = []

#     def add_item(self, name, qty, price_per_qty):
#         '''
#         Make list of items including quantity 
#             and the price per quantity
#         add_item(name, qty, price_per_qty)    
#         Input parameters:
#             name <string>
#             qty <int>
#             price_per_qty <int>
#         '''
#         self.order.append([name, qty, price_per_qty])

#     def update_item_name(self, old_name, new_name):
#         self.order.replace(old_name, new_name)

In [2]:
# trx1 = Transaction()

In [3]:
# trx1.add_item('buku', 4, 10000)
# trx1.add_item('pensil', 5, 2000)

In [4]:
# trx1.order

In [1]:
order = []

In [2]:
import re

def is_in_cart(item_name, order_list):
    for idx, item in enumerate(order_list):
        if re.match("^"+item_name.lower()+"$", item[0].lower()):
            return True, idx
            break
    return False, -1 # -1 is just a dummy number

In [8]:
def add_item(name, qty, price_per_qty):
    '''
    membuat list dari item yang dibeli
    
    Parameters:
        name (str) : nama item
        qty (int) : jumlah item
        price_per_qty (int) : harga per item

    Returns:
        -
    '''
    if is_in_cart(name, order)[0]:
        print(name, 'sudah ada dalam lis ! Silahkan update jumlah atau harga.')
    else:
        order.append([name, qty, price_per_qty, qty*price_per_qty])
        print(qty, name, 'berhasil ditambahkan ke lis pembelian.')

In [9]:
add_item('Buku cetak', 2, 500000)
add_item('Buku', 3, 10000)
add_item('buku gambar', 3, 20000)

Buku cetak sudah ada dalam lis ! Silahkan update jumlah atau harga.
Buku sudah ada dalam lis ! Silahkan update jumlah atau harga.
buku gambar sudah ada dalam lis ! Silahkan update jumlah atau harga.

In [10]:
print(order)

[['Buku cetak', 2, 500000, 1000000], ['Buku', 3, 10000, 30000], ['buku gambar', 3, 20000, 60000]]

In [11]:
add_item('kertas', 2, 100)

2 kertas berhasil ditambahkan ke lis pembelian.

In [14]:
def update_item_name(item_name, new_name):
    available, idx = is_in_cart(item_name, order)
    if available:
        order[idx][0] = new_name
        print('Nama barang berhasil diperbaharui.')
    else:
        print('Nama barang tidak diketahui. Tolong periksa lagi.')

In [20]:
update_item_name('buku gambar', 'Drawing book')

Nama barang berhasil diperbaharui.

In [16]:
print(order)

[['Buku cetak', 2, 500000, 1000000], ['Buku', 3, 10000, 30000], ['buku gambar', 3, 20000, 60000], ['kertas', 2, 100, 200]]

In [18]:
def update_item_qty(item_name, new_qty):
    available, idx = is_in_cart(item_name, order)
    if available:
        order[idx][1] = new_qty
        # update total harga
        order[idx][3] = order[idx][1] * order[idx][2]
        print('Jumlah', item_name, 'berhasil diperbaharui menjadi', new_qty)
    else:
        print('Nama barang tidak diketahui. Tolong periksa lagi.')

In [21]:
update_item_qty('Drawing book', 5)

Jumlah Drawing book berhasil diperbaharui menjadi 5

In [22]:
print(order)

[['Buku cetak', 2, 500000, 1000000], ['Buku', 3, 10000, 30000], ['Drawing book', 5, 20000, 100000], ['kertas', 2, 100, 200]]

In [25]:
def update_item_price(item_name, new_price):
    available, idx = is_in_cart(item_name, order)
    if available:
        order[idx][2] = new_price
        # update total harga
        order[idx][3] = order[idx][1] * order[idx][2]        
        print('Harga', item_name, 'berhasil diperbaharui menjadi', new_price, 'per item')
    else:
        print('Nama barang tidak diketahui. Tolong periksa lagi.')

In [26]:
update_item_price('Drawing book', 120000)

Harga Drawing book berhasil diperbaharui menjadi 120000 per item

In [27]:
print(order)

[['Buku cetak', 2, 500000, 1000000], ['Buku', 3, 10000, 30000], ['Drawing book', 5, 120000, 600000], ['kertas', 2, 100, 200]]

In [40]:
def delete_item(item_name):
    available, idx = is_in_cart(item_name, order)
    if available:
        del order[idx]
        print(item_name, 'berhasil dihapus dari lis pembelian.')
    else:
        print('Nama barang tidak diketahui. Tolong periksa lagi.')

In [32]:
order

[['Buku cetak', 2, 500000, 1000000],
 ['Drawing book', 5, 120000, 600000],
 ['kertas', 2, 100, 200]]

In [34]:
delete_item('kertas')
print(order)

kertas berhasil dihapus dari kantong belanja.
[['Buku cetak', 2, 500000, 1000000], ['Drawing book', 5, 120000, 600000]]

In [35]:
def reset_transaction(order):
    order = []
    return order
    print('Semua transaksi telah dihapus.')

In [36]:
order

[['Buku cetak', 2, 500000, 1000000], ['Drawing book', 5, 120000, 600000]]

In [37]:
order = reset_transaction(order)

In [38]:
order

[]

In [39]:
add_item('buku', 1, 10000)
add_item('pensil', 2, 1000)
add_item('penghapus', 3, 30000)
add_item('tas', 1, 100000)
add_item('penggaris', 3, 500)

1 buku berhasil ditambahkan ke lis pembelian.
2 pensil berhasil ditambahkan ke lis pembelian.
3 penghapus berhasil ditambahkan ke lis pembelian.
1 tas berhasil ditambahkan ke lis pembelian.
3 penggaris berhasil ditambahkan ke lis pembelian.

In [41]:
from tabulate import tabulate

def show_table(order_list, 
               headers=["No","Nama Item", "Jumlah Item", "Harga/item", "Total Harga"],
               table_format = "outline"):
    number_id = range(1, len(order_list)+1)
    print(tabulate(order_list, headers=headers, tablefmt=table_format, showindex=number_id))

In [42]:
def check_order(order_list):
    # check kesalahan input data
    valid_entry = True
    for item in order_list:
        if not isinstance(item[0], str) or \
           not isinstance(item[1], int) or \
           not isinstance(item[2], int):
           valid_entry = False
           break

    show_table(order_list)

    if valid_entry:    
        print('Pemesanan sudah benar')
    else:
        print("Terdapat kesalahan dalam input data")

In [43]:
check_order(order)

+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |             1 |        10000 |         10000 |
|    2 | pensil      |             2 |         1000 |          2000 |
|    3 | penghapus   |             3 |        30000 |         90000 |
|    4 | tas         |             1 |       100000 |        100000 |
|    5 | penggaris   |             3 |          500 |          1500 |
+------+-------------+---------------+--------------+---------------+
Pemesanan sudah benar

In [30]:
print(order)

[['buku', 1, 10000, 10000], ['pensil', 2, 1000, 2000], ['penghapus', 3, 30000, 90000], ['tas', 1, 100000, 100000], ['penggaris', 3, 500, 1500]]

In [31]:
import copy

def check_out(order_list):    
    temp_order_list = copy.deepcopy(order_list)
    total_harga_setelah_diskon = 0
    for idx, item in enumerate(temp_order_list):
        diskon = 0
        if item[3] > 500000:
            diskon = 0.07
        elif item[3] > 300000:    
            diskon = 0.06
        elif item[3] > 200000:
            diskon = 0.05

        # update total harga setelah diskon
        if diskon > 0:
            temp_order_list[idx][3] = int(temp_order_list[idx][3] * (1-diskon))
            print('Daftar harga sebelum diskon:')
            show_table(order_list)
            print('Daftar harga setelah diskon:')            

        total_harga_setelah_diskon += temp_order_list[idx][3]
      
    show_table(temp_order_list)
    print('Total belanja Anda sebesar', total_harga_setelah_diskon, 'rupiah')

In [32]:
check_out(order)

+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |             1 |        10000 |         10000 |
|    2 | pensil      |             2 |         1000 |          2000 |
|    3 | penghapus   |             3 |        30000 |         90000 |
|    4 | tas         |             1 |       100000 |        100000 |
|    5 | penggaris   |             3 |          500 |          1500 |
+------+-------------+---------------+--------------+---------------+
Total belanja Anda sebesar 203500 rupiah

In [33]:
update_item_qty('tas', 10)
check_out(order)

Jumlah tas berhasil diperbaharui.
Daftar harga sebelum diskon:
+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |             1 |        10000 |         10000 |
|    2 | pensil      |             2 |         1000 |          2000 |
|    3 | penghapus   |             3 |        30000 |         90000 |
|    4 | tas         |            10 |       100000 |       1000000 |
|    5 | penggaris   |             3 |          500 |          1500 |
+------+-------------+---------------+--------------+---------------+
Daftar harga setelah diskon:
+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |             1 |        10000 |         10000 |
|    2 | pensil      |             2 |         1000 |          2000 |
|    3 | penghapus   |             3 |        30000 |         90000 |
|    4 | tas         |            10 |       100000 |        929999 |
|    5 | penggaris   |             3 |          500 |          1500 |
+------+-------------+---------------+--------------+---------------+
Total belanja Anda sebesar 1033499 rupiah

In [45]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///data.db', echo = True)
meta = MetaData()

transaction = Table(
   'transaction', meta, 
   Column('id', Integer, primary_key = True), 
   Column('nama_item', String), 
   Column('jumlah_item', Integer),
   Column('harga', Integer),
   Column('total_harga', Integer),
   Column('diskon', Integer),
   Column('harga_diskon', Integer)
)
meta.create_all(engine)

2023-04-16 23:25:53,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-16 23:25:53,314 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("transaction")
2023-04-16 23:25:53,317 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-16 23:25:53,320 INFO sqlalchemy.engine.Engine COMMIT

In [46]:
check = sqlalchemy.inspect(engine)

In [47]:
print(check.has_table("transaction"))

2023-04-16 23:25:59,366 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-16 23:25:59,368 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("transaction")
2023-04-16 23:25:59,368 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-16 23:25:59,369 INFO sqlalchemy.engine.Engine ROLLBACK
True

In [ ]:
def insert_to_table(data_list, source):
    """
    Fungsi untuk memasukkan data ke table database

    args:
        data_list (list) : nama list dari data
        source (str)     : nama sumber data
    return:
        None
    """

    # Iterasi setiap item pada data_list
    for item in data_list:
        # mendapatkan nama negara
        nama_negara = source.split(" ")[-1]

        # Buat nama country menjadi huruf kapital
        item['country'] = nama_negara.upper()

        # Tambahkan data data_source pada data_list
        item['data_source'] = source
  
    # Definisi SQL query untuk memasukkan data ke dalam table
    insert_query = text("""
    INSERT INTO 
        transaction(nama_item,
                  jumlah_item, 
                  model_feronika, 
                  model_xbender, 
                  model_innovi, 
                  model_pajeri,
                  revenue_feronika, 
                  revenue_xbender, 
                  revenue_innovi, 
                  revenue_pajeri, 
                  data_source)
        VALUES(:report_date, 
               :country,
               :model_feronika, 
               :model_xbender, 
               :model_innovi, 
               :model_pajeri,
               :revenue_feronika, 
               :revenue_xbender, 
               :revenue_innovi, 
               :revenue_pajeri, 
               :data_source) 
    """)

    # Iterasi untuk memasukkan data per baris dari data list
    for item in data_list:

        # Eksekusi insert query untuk setiap baris data
        CONN.execute(insert_query, item)