In [1]:
# class Transaction:    
#     def __init__(self) -> None:
#         self.order = []

#     def add_item(self, name, qty, price_per_qty):
#         '''
#         Make list of items including quantity 
#             and the price per quantity
#         add_item(name, qty, price_per_qty)    
#         Input parameters:
#             name <string>
#             qty <int>
#             price_per_qty <int>
#         '''
#         self.order.append([name, qty, price_per_qty])

#     def update_item_name(self, old_name, new_name):
#         self.order.replace(old_name, new_name)

In [2]:
# trx1 = Transaction()

In [3]:
# trx1.add_item('buku', 4, 10000)
# trx1.add_item('pensil', 5, 2000)

In [4]:
# trx1.order

In [5]:
order = []

In [6]:
print("Selamat Datang di PacMart")

Selamat Datang di PacMart

In [7]:
def menu():
    '''
        Tampilkan menu pilihan aksi yang bisa dilakukan pelanggan
    '''
    print( \
    " Pilih angka berdasarkan apa yang ingin Anda lakukan: \n \
      1. Tambah barang \n \
      2. Update nama barang \n \
      3. Update jumlah barang \n \
      4. Update harga barang per item \n \
      5. Hapus barang dari keranjang pembelian \n \
      6. Hapus semua barang dari keranjang pembelian \n \
      7. Lihat semua pesanan beserta harganya \n \
      8. Check Out "
    )

In [8]:
menu()

 Pilih angka berdasarkan apa yang ingin Anda lakukan:
       1. Tambah barang
       2. Update nama barang
       3. Update jumlah barang
       4. Update harga barang per item
       5. Hapus barang dari keranjang pembelian
       6. Hapus semua barang dari keranjang pembelian
       7. Lihat semua pesanan beserta harganya
       8. Check Out

In [9]:
import re

def is_in_cart(item_name, order_list):
    '''
    cek apakah barang sudah ada dalam lis pembelian
    
    Parameters:
        item_name (str)  : nama barang
        order_list (list) : lis pembelian
    Returns:
        True/False (Bool): ada/tidak ada di lis
        idx        (int) : ada di lis pada urutan ke idx+1
    '''    
    for idx, item in enumerate(order_list):
        if re.match("^"+item_name.lower()+"$", item[0].lower()):
            return True, idx
            break
    return False, -1 # -1 is just a dummy number

In [10]:
def add_item(*item_list):
    '''
    menambah barang pembelanjaan
    
    Parameters:
        item_list (list) : lis dari lis item yang berisikan: 
                            nama, jumlah item, harga per item
    Returns:
        -
    '''
    for item in item_list:
        # extract name, quantity, and price per qty in the list
        name          = item[0]
        qty           = item[1]
        price_per_qty = item[2]
        
        if is_in_cart(name, order)[0]:
            print(name, 'sudah ada dalam lis urutan ke', is_in_cart(name, order)[1]+1,'! Silahkan update jumlah atau harganya.')
        else:
            order.append([name, qty, price_per_qty, qty*price_per_qty])
            print(qty, name, 'berhasil ditambahkan ke keranjang.')

In [11]:
add_item(['buku', 10, 20000], ['pensil', 30, 10000])

10 buku berhasil ditambahkan ke keranjang.
30 pensil berhasil ditambahkan ke keranjang.

In [12]:
add_item(['penghapus', 5, 5000])

5 penghapus berhasil ditambahkan ke keranjang.

In [13]:
add_item(['BuKu', 5, 5000])

BuKu sudah ada dalam lis urutan ke 1 ! Silahkan update jumlah atau harganya.

In [14]:
from tabulate import tabulate

def show_table(order_list, 
               headers=["No","Nama Item", "Jumlah Item", "Harga/item", "Total Harga"],
               table_format = "outline"):
    '''
    menampilkan tabel lis pembelian
    
    Parameters:
        order_list (list)   : lis pembelian
        header (list)       : lis nama kolom
        table_format (str)  : tabulate table format
                              https://pypi.org/project/tabulate/
    Returns:
        -
    '''
    # untuk menambahkan nomor pada kolom nomor
    number_id = range(1, len(order_list)+1)
    print(tabulate(order_list, headers=headers, tablefmt=table_format, showindex=number_id))

In [15]:
def check_order():
    '''
    lihat semua pembelian
    
    Parameters:
        -
    Returns:
        -
    '''    
    # check kesalahan input data
    valid_entry = True
    for item in order:
        if not isinstance(item[0], str) or \
           not isinstance(item[1], int) or \
           not isinstance(item[2], int):
           valid_entry = False
           break

    show_table(order)

    if valid_entry:    
        print('Pemesanan sudah benar')
    else:
        print("Terdapat kesalahan dalam input data")

In [16]:
check_order()

+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |            10 |        20000 |        200000 |
|    2 | pensil      |            30 |        10000 |        300000 |
|    3 | penghapus   |             5 |         5000 |         25000 |
+------+-------------+---------------+--------------+---------------+
Pemesanan sudah benar

In [17]:
def delete_item(item_name):
    '''
    hapus suatu barang tertentu dari lis pembelian
    
    Parameters:
        item_name (str) : nama barang
    Returns:
        -
    '''      
    available, idx = is_in_cart(item_name, order)
    if available:
        del order[idx]
        print(item_name, 'berhasil dihapus dari keranjang.')
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [18]:
add_item(['buku gambar', 20, 100000])

20 buku gambar berhasil ditambahkan ke keranjang.

In [19]:
delete_item('penghapus')

penghapus berhasil dihapus dari keranjang.

In [20]:
def update_item_name(item_name, new_name):
    '''
    update nama barang
    
    Parameters:
        item_name (str) : nama lama dari barang
        new_name (str)  : nama baru dari barang
    Returns:
        -
    '''          
    available, idx = is_in_cart(item_name, order)
    if available:
        order[idx][0] = new_name
        print('Nama barang berhasil diperbaharui.')
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [21]:
update_item_name('buku gambar', 'Drawing book')

Nama barang berhasil diperbaharui.

In [22]:
def update_item_qty(item_name, new_qty):
    '''
    update jumlah barang
    
    Parameters:
        item_name (str) : nama barang
        new_qty (int)   : jumlah barang  
    Returns:
        -
    '''          
    available, idx = is_in_cart(item_name, order)
    if available:
        # update jumlah barang
        order[idx][1] = new_qty
        # update total harga
        order[idx][3] = order[idx][1] * order[idx][2]
        print('Jumlah', item_name, 'berhasil diperbaharui menjadi', new_qty)
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [23]:
update_item_qty('Drawing book', 5)

Jumlah Drawing book berhasil diperbaharui menjadi 5

In [24]:
check_order()

+------+--------------+---------------+--------------+---------------+
|   No | Nama Item    |   Jumlah Item |   Harga/item |   Total Harga |
+======+==============+===============+==============+===============+
|    1 | buku         |            10 |        20000 |        200000 |
|    2 | pensil       |            30 |        10000 |        300000 |
|    3 | Drawing book |             5 |       100000 |        500000 |
+------+--------------+---------------+--------------+---------------+
Pemesanan sudah benar

In [25]:
def update_item_price(item_name, new_price):
    '''
    update harga barang
    
    Parameters:
        item_name (str) : nama barang
        new_price (int) : harga barang  
    Returns:
        -
    '''      
    available, idx = is_in_cart(item_name, order)
    if available:
        # update harga barang
        order[idx][2] = new_price
        # update total harga
        order[idx][3] = order[idx][1] * order[idx][2]        
        print('Harga', item_name, 'berhasil diperbaharui menjadi', new_price, 'per item')
    else:
        print('Barang tidak ada di keranjang. Periksa lagi !')

In [26]:
update_item_price('Drawing book', 120000)

Harga Drawing book berhasil diperbaharui menjadi 120000 per item

In [27]:
def reset_transaction():
    '''
    hapus semua transaksi
    
    Parameters:
        -
    Returns:
        order (list): lis kosong
    '''      
    order = []
    print('Semua item berhasil dihapus !')
    return order

In [28]:
order = reset_transaction()

Semua item berhasil dihapus !

In [29]:
check_order()

+------+-------------+---------------+--------------+---------------+
| No   | Nama Item   | Jumlah Item   | Harga/item   | Total Harga   |
+======+=============+===============+==============+===============+
+------+-------------+---------------+--------------+---------------+
Pemesanan sudah benar

In [30]:
add_item(['buku', 10, 20000], 
         ['pensil', 30, 10000],
         ['penghapus', 20, 1000])

10 buku berhasil ditambahkan ke keranjang.
30 pensil berhasil ditambahkan ke keranjang.
20 penghapus berhasil ditambahkan ke keranjang.

In [31]:
check_order()

+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |            10 |        20000 |        200000 |
|    2 | pensil      |            30 |        10000 |        300000 |
|    3 | penghapus   |            20 |         1000 |         20000 |
+------+-------------+---------------+--------------+---------------+
Pemesanan sudah benar

In [32]:
def promo(harga):
    '''
    hitung besarnya potongan dari diskon
    serta harga total setelah diskon
    
    Parameters:
        harga (int) : harga awal sebelum diskon
    Returns:
        besar_potongan (int): besarnya potongan karena diskon
        harga_setelah_diskon (int): harga setelah diskon
    '''     
    diskon = 0
    if harga > 500000:
        diskon = 0.07
    elif harga > 300000:    
        diskon = 0.06
    elif harga > 200000:
        diskon = 0.05
        
    besar_potongan = int(harga * diskon)
    harga_setelah_diskon = int(harga - besar_potongan)
    
    return besar_potongan, harga_setelah_diskon

In [33]:
import copy

def check_out():
    '''
    Hitung dan cetak total belanja setelah diskon
    
    Parameters:
        -
    Returns:
        temp_order_list (list): list belanja yang dilengkapi
                                besar potongan dan
                                harga setelah diskon
    '''     
    temp_order_list = copy.deepcopy(order)
    total_harga_sebelum_diskon = 0
    total_harga_setelah_diskon = 0
    total_potongan = 0
    
    for idx, item in enumerate(temp_order_list):
        total_harga = item[3]
        besar_potongan, harga_setelah_diskon = promo(total_harga)
        
        # tambahkan kolom potongan dan harga setelah diskon
        temp_order_list[idx].append(besar_potongan)
        temp_order_list[idx].append(harga_setelah_diskon)        
        
        # hitung total
        total_harga_sebelum_diskon += total_harga 
        total_potongan += besar_potongan
        total_harga_setelah_diskon += harga_setelah_diskon
    
    
    # Cetak tabel berisikan info potongan dan harga setelah diskon
    show_table(temp_order_list,
               headers=["No","Nama Item", "Jumlah Item", 
                        "Harga/item", "Total Harga",
                        "Besar Potongan", "Harga Setelah Diskon"])
    
    # Cetak notifikasi
    print('Total belanja Anda sebelum potongan:', total_harga_sebelum_diskon, 'rupiah')
    print('Anda telah berhemat', total_potongan, 'rupiah')
    print('Total belanja Anda menjadi', total_harga_setelah_diskon, 'rupiah')
    
    return temp_order_list

In [34]:
final_order = check_out()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |   Besar Potongan |   Harga Setelah Diskon |
+======+=============+===============+==============+===============+==================+========================+
|    1 | buku        |            10 |        20000 |        200000 |                0 |                 200000 |
|    2 | pensil      |            30 |        10000 |        300000 |            15000 |                 285000 |
|    3 | penghapus   |            20 |         1000 |         20000 |                0 |                  20000 |
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Total belanja Anda sebelum potongan: 520000 rupiah
Anda telah berhemat 15000 rupiah
Total belanja Anda menjadi 505000 rupiah

In [35]:
check_order()

+------+-------------+---------------+--------------+---------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |
+======+=============+===============+==============+===============+
|    1 | buku        |            10 |        20000 |        200000 |
|    2 | pensil      |            30 |        10000 |        300000 |
|    3 | penghapus   |            20 |         1000 |         20000 |
+------+-------------+---------------+--------------+---------------+
Pemesanan sudah benar

In [36]:
add_item(['tas', 10, 100000])

10 tas berhasil ditambahkan ke keranjang.

In [37]:
final_order = check_out()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |   Besar Potongan |   Harga Setelah Diskon |
+======+=============+===============+==============+===============+==================+========================+
|    1 | buku        |            10 |        20000 |        200000 |                0 |                 200000 |
|    2 | pensil      |            30 |        10000 |        300000 |            15000 |                 285000 |
|    3 | penghapus   |            20 |         1000 |         20000 |                0 |                  20000 |
|    4 | tas         |            10 |       100000 |       1000000 |            70000 |                 930000 |
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Total belanja Anda sebelum potongan: 1520000 rupiah
Anda telah berhemat 85000 rupiah
Total belanja Anda menjadi 1435000 rupiah

In [38]:
# import library sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine, text

In [39]:
# Konfigurasi database
# buat variabel konfigurasi sebagai konstan
# buat sqlite sebagai engine
ENGINE = create_engine('sqlite:///data.db')

In [40]:
# Koneksi database
# buat variabel koneksi sebagai konstan
CONN = ENGINE.connect()

In [41]:
# buat fungsi untuk membuat table pada database
def create_table():
    """
    Fungsi untuk membuat table baru

    args:
        None

    return:
        None
    """
    # Query untuk membuat table dengan nama transactions
    query_buat_table = """
    CREATE TABLE transactions(
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        nama_item STRING,
        jumlah_item INTEGER,
        harga INTEGER,
        total_harga INTEGER,
        diskon INTEGER,
        harga_diskon INTEGER)
    """

    # Eksekusi query
    CONN.execute(text(query_buat_table))

In [42]:
# memanggil fungsi create table
create_table()

In [43]:
# Memeriksa table yang sudah dibuat
check = sqlalchemy.inspect(ENGINE)

print(check.has_table("transactions"))

True

In [44]:
data_list = [{'nama_item': value[0], 
              'jumlah_item': value[1], 
              'harga': value[2], 
              'total_harga': value[3],
              'diskon': value[4],
              'harga_diskon': value[5]} for value in final_order]

In [45]:
# fungsi untuk memasukkan data ke database
def insert_to_table(data_list):
    """
    Fungsi untuk memasukkan data ke table database

    args:
        data_list (list) : nama list dari data order
    return:
        None
    """
  
    # Definisi SQL query untuk memasukkan data ke dalam table
    insert_query = text("""
    INSERT INTO 
        transactions(nama_item,
                  jumlah_item,
                  harga,
                  total_harga,
                  diskon,
                  harga_diskon)
        VALUES(:nama_item,
               :jumlah_item,
               :harga,
               :total_harga,
               :diskon,
               :harga_diskon)
    """)

    # Iterasi untuk memasukkan data per baris dari data list
    for item in data_list:

        # Eksekusi insert query untuk setiap baris data
        CONN.execute(insert_query, item)

In [46]:
insert_to_table(data_list)

In [47]:
# Eksekusi query untuk menampilkan data yang telah di INSERT
result = CONN.execute(text("SELECT * FROM transactions"))

# Melakukan iterasi untuk menampilkan hasil query
for res in result:
    print(res.ID,
          res.nama_item,
          res.jumlah_item, 
          res.harga, 
          res.diskon, 
          res.harga_diskon)

1 buku 10 20000 0 200000
2 pensil 30 10000 15000 285000
3 penghapus 20 1000 0 20000
4 tas 10 100000 70000 930000

In [48]:
final_order = check_out()

+------+-------------+---------------+--------------+---------------+------------------+------------------------+
|   No | Nama Item   |   Jumlah Item |   Harga/item |   Total Harga |   Besar Potongan |   Harga Setelah Diskon |
+======+=============+===============+==============+===============+==================+========================+
|    1 | buku        |            10 |        20000 |        200000 |                0 |                 200000 |
|    2 | pensil      |            30 |        10000 |        300000 |            15000 |                 285000 |
|    3 | penghapus   |            20 |         1000 |         20000 |                0 |                  20000 |
|    4 | tas         |            10 |       100000 |       1000000 |            70000 |                 930000 |
+------+-------------+---------------+--------------+---------------+------------------+------------------------+
Total belanja Anda sebelum potongan: 1520000 rupiah
Anda telah berhemat 85000 rupiah
Total belanja Anda menjadi 1435000 rupiah